<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>蜂蜜牛奶茶葉蛋</title>
    <link rel="stylesheet" href="/css/all.css" type="text/css" />
    <link rel="icon" href="/images/logo.ico" />
    <link rel="apple-touch-icon" href="/images/logo.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!--prism.css-->
    <link rel="stylesheet" href="/css/prism.css" />
    <style>
      /* typography design */
      .text-primary {
        color: #494949 !important;
      }
      .post {
        line-height: 1.8;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          timothy
          <!-- <img src="../../images/beemilk.svg"> -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="header-link mr-3" href="/dashboard/article/create"
              >發布文章
            </a>
            <a class="header-link mr-3" href="/dashboard/archives">後臺管理 </a>
            <a class="header-link" href="/auth/logout">登出 </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="wrap">
      <div class="aside">
        <ul class="menu">
          <li>
            <a href="/html"><i class="fas fa-file-code mr-2"></i>HTML</a>
          </li>
          <li>
            <a href="/css"><i class="fas fa-palette mr-2"></i>CSS</a>
          </li>
          <li>
            <a href="/bootstrap"
              ><i class="fas fa-paint-roller mr-2"></i>Bootstrap</a
            >
          </li>
          <li>
            <a href="/rwd"><i class="fas fa-columns mr-2"></i>RWD</a>
          </li>
          <li>
            <a href="/javascript"
              ><i class="fas fa-laptop-code mr-2"></i>JavaScript</a
            >
          </li>
          <li>
            <a href="/jquery"><i class="fas fa-keyboard mr-2"></i>jQuery</a>
          </li>
          <li>
            <a href="/vue"><i class="fas fa-sitemap mr-2"></i>Vue</a>
          </li>
          <li>
            <a href="/vuex"><i class="fas fa-project-diagram mr-2"></i>Vuex</a>
          </li>
          <li>
            <a href="/git"><i class="fas fa-code-branch mr-3"></i>Git</a>
          </li>
          <li>
            <a href="/seo"><i class="fas fa-chart-bar mr-2"></i>SEO</a>
          </li>
          <li>
            <a href="/package"><i class="fas fa-th mr-2"></i>套件</a>
          </li>
        </ul>
      </div>
      <div class="main"><%- content %></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>    
    <script src="/javascripts/prism/prism.js"></script>
  </body>
</html>
